services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile.prod
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env.prod

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile.prod
    ports:
      - "3000:3000"
